<!-- https://ejs.co/#docs -->
<% if(typeof errors != 'undefined') {%> 
    <% errors.forEach((error) =>{  %>
        <div class="error_messages">
            <input type="checkbox" id="<%= error.msg%>">
            <label class="close" for="<%= error.msg %>">
                <i class="icon-remove"></i>
            </label>
            <p><%=  error.msg %></p>
        </div>
        <% }) %> 
<%  }%> 