<body>
    <%- include ('./partials/header.ejs') -%>
    <main>
     <h1>Home</h1>
     <p>Welcome <%= name %></p>
     <a href='/users/logout'><button id='switch'>Log Out</button></a>
    </main>
</body>