<body>
    <%- include ('./partials/header.ejs') -%>
    <main>
        <form action="/users/login" method="POST">
            <fieldset>
                <legend>Festiv</legend>
                <input type='email' id='email' name="email" placeholder='Email'>
                <input type='password' id='password' name="password" placeholder='Password'>
                <button type="submit">Login</button>
            </fieldset>         
        </form>
        <a href='./register'><button id='switch'>Create Account </button></a>
    </main>
</body>