<body>
    <%- include ('./partials/header.ejs') -%>
    <main>
        <form id='login'>
            <fieldset>
                <legend>Festiv</legend>
                <input type='email' id='email' placeholder='Email'>
                <input type='password' id='psswrd' placeholder='Password'>
                <input type='submit' value='Login'>
                <button id='switch'>Create Account</button>
            </fieldset>
          
        </form>
    </main>
</body>