<body>
    <link rel="stylesheet" href="test.css">

<ul class="app">
    
    
    <li class="feature2">
      <input type="checkbox" id="feature2"/>
      <p>
        <span>
          10 Emails<br/>
          + $10.00
        </span>
    </p>
</li>
    
    <li class="feature3">
      <input type="checkbox" id="feature3"/>
      <p>
        <span>
          Support<br/>
          + $65.00
        </span>
    </p>
</li>
    
    <li class="feature4">
      <input type="checkbox" id="feature4" checked/>
      <p>
        <span>
          Coffee<br/>
          $1.00
        </span>
    </p>
</li>
    
    <h3>
      <span class="blue-color">50% </span>discount only today!
    </h3>
    
    <a href="#" class="upgrade-btn">Upgrade</a>
    
    <div class="gray-color">terms & conditions apply, the app will never share your private info</div>
</ul>
  
  <div class="social">
    <a href="https://www.linkedin.com/in/florin-cornea-b5118057/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</body>