@font-face{
    font-family: SF-Text;
    src: url(../fonts/SF-UI-Text-Regular.otf);

}

@font-face {
    font-family: SF-Bold;
    src: url(../fonts/SF-UI-Display-Bold.otf);
}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-display: swap;
}

* {
    font-family: SF-Text;
}

html {
    background: linear-gradient(#7067AE, #E44B91)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 100%; */
}

body {
    margin: 0em;
    padding: 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body>section {
    text-align: center;
    width: 100%;
}

body>section>ul {
    list-style-type: none;
}



form {
    margin-top: 5%;
    display: inline-block;
    /* flex: 1 100%; */
    justify-content: center;
    /* background: #7067AE; */
}


img {
    height: auto;
    width: 35vh;
}

fieldset {
    display: grid;
    border: none;
    justify-content: center;
}

legend {
    font-family: SF-Bold;
    color: #FFFFFF;
    font-size: 3em;
    margin-bottom: 5px;
}
.genre_picker { 
    text-align: unset;
    margin: 0; 
    padding: 0;  
    list-style: none; 
     /* column-width: 25em; */
  }  

  li {
      font-size: 3em;
  }

  .selection {
    position: relative;
    width: 40vw;
    height: 8vh;
    margin: 5px;
    border: 2px solid #50bcf2;
    box-sizing: border-box;
  }

  .selection p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
    top: -16;
    left: 0;
    position: absolute;
    z-index: -1;
  }
  
  .selection input {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 8vh;
    opacity: 0;
    cursor: pointer;
  }

  span {
      font-size: 3em;
  }
  
  input[type=checkbox]:checked ~ p {
    background-color: #50bcf2;
  }



input[type="name"], input[type="password"], input[type="email"]{
    display: block;
    background-color: rgba(255, 255, 255, .4);
    font-size: 3em;
    border: none;
    height: 4vh;
    width: 30vh;
    margin-bottom: 10px;
    padding-left: 10px;
}

label {
    padding-left: 15px;
    text-indent: -15px;
    align-items: center;
  }

::placeholder {
    color: #000000;
    /* font-size: 3em; */
}

button[type="submit"], #switch, .keepswiping {
    display: block;
    width: 30vh;
    height: 5vh;
    border-radius: 100px;
    font-size: 3em;
    color: #FFFFFF;
}

/* .home {
    margin: unset;
} */

a {
    display: block;
    flex: 1 100%;
    margin-left: 50%;
    margin-right: 50%;
    color: #3EC4F3;
}

#moreLess {
    font-size: 3em;
}


button[type="submit"] {
    font-size: 3em;
    background: #7067AE;
    margin: auto;
    margin-top: 15px;
    border: none;
}

#switch {
    position: static;
    border-width: 4px;
    border-color: #FFFFFF;
    font-size: 3em;
    background: rgba(0, 0, 0, 0);
    border-style: solid ;
    margin-bottom: 50px;
}

h1, h2 {
    font-size: 4em;
    font-family: SF-Bold;
}

p {
    font-size: 3em;
}

@keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%;
    }
  
    to {
      margin: 0%;
      width: 100%;
    }
  }

/* DESKTOP */
@media only screen and (min-width: 80em){
    html {
        background-image: unset;
    }

    body {
        background: linear-gradient(#7067AE, #E44B91)no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0em;
        padding: 0em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-repeat: no-repeat;
    }
    
    main {
       justify-content: center;
    }
    
    
    form {
        margin-top: 5%;
        display: inline-block;
        justify-content: center;
        height: auto;
        width: 320px;
    }
    
    
    img {
        height: 20em;
        width: auto;
    }
    
    fieldset {
        display: grid;
        columns: 1;
        border: none;
        justify-content: center;
    }
    
    legend {
        color: #FFFFFF;
        font-size: 24px;
        margin-bottom: 5px;
    }

    ul>li:nth-of-type(1){
        grid-area: item1;
    }
    ul>li:nth-of-type(2){
        grid-area: item2;
    }
    ul>li:nth-of-type(3){
        grid-area: item3;
    }
    ul>li:nth-of-type(4){
        grid-area: item4;
    }
    ul>li:nth-of-type(5){
        grid-area: item5;
    }
    ul>li:nth-of-type(6){
        grid-area: item6;
    }
    ul>div>li:nth-of-type(1){
        grid-area: item7;
    }
    ul>div>li:nth-of-type(2){
        grid-area: item8;
    }
    ul>div>li:nth-of-type(3){
        grid-area: item9;
    }
    ul>div>li:nth-of-type(4){
        grid-area: item10;
    }
    ul>div>li:nth-of-type(5){
        grid-area: item11;
    }
    
    .genre_picker { 
        display: grid;
        grid-template-columns: 140px 140px;
        grid-template-rows: auto;
        grid-template-areas: 
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item12 item12" ;
        column-gap: 10px;
        text-align: unset;
        margin: 0; 
        padding: 0;  
        list-style: none; 
      }  
      li {
        font-size: unset;
    }
    
    #container {
        display: grid;
        grid-area: item12;
        grid-template-columns: 140px 140px;
        grid-template-rows: auto;
        grid-template-areas:         
        "item7 item8"
        "item9 item10"
        "item11 .";
        column-gap: 10px;
        text-align: unset;
        margin: 0; 
        padding: 0;  
        list-style: none; 
    }
    
    input[type="name"], input[type="password"], input[type="email"]{
        display: block;
        background-color: rgba(255, 255, 255, .4);
        border: none;
        font-size: unset;
        height: 2.1em;
        width: 260px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    
    label {
        padding-left: 15px;
        text-indent: -15px;
        align-items: center;
      }
    
    ::placeholder {
        color: #000000;
        font-size: unset;
    }
    
    button[type="submit"], #switch, .keepswiping {
        display: block;
        width: 15em;
        height: 40px;
        font-size: 1em;
        border-radius: 20px;
        /* box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25); */
        color: #FFFFFF;
    }
    
    a {
        display: block;
        flex: 1 100%;
        margin-left: 50%;
        margin-right: 50%;
    }

    #moreLess {
        font-size: unset;
    }
    
    /* .home {
        margin: unset;
    } */
    
    button[type="submit"] {
        background: #7067AE;
        margin: auto;
        margin-top: 15px;
        border: none;
    }
    
    #switch {
        position: static;
        border-width: 1px;
        border-color: #FFFFFF;
        background: rgba(0, 0, 0, 0);
        border-style: solid ;
    }

    .selection {
        position: relative;
        width: 140px;
        height: 100px;
        margin: 5px;
        border: 2px solid #50bcf2;
        box-sizing: border-box;
      }
    
      .selection p {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 25px;
        transition: .5s ease;
        top: -16;
        left: 0;
        position: absolute;
        z-index: -1;
      }
      
      .selection input {
        position: absolute;
        top: 0;
        left: 0;
        width: 140px;
        height: 100px;
        opacity: 0;
        cursor: pointer;
      }
    
      span {
          font-size: unset;
      }
      
      input[type=checkbox]:checked ~ p {
        background-color: #50bcf2;
      }
    
      h1, h2 {
        font-size: unset;
        font-family: SF-Bold;
    }

    p {
        font-size: unset;
    }
    
    
}